/* CMS pages ****************************************************************************** */
#cms #center_column ul,
#cms #center_column ol,
#cms #center_column dl { margin-left:25px; margin-bottom:20px }

#cms #center_column li { margin-bottom:5px }

#landingOptionsBody{
	background-color:#e3e2e2;
	border:1px solid #999;
	height:auto; /*for now*/	
	border-radius:5px;
}
.landingOptionsSmallFirst{
	float:left;
	height:120px;
	width:16%;
	margin-left:4%;
	background-color:#FFF;
	border:1px solid #000;	
}
.landingOptionsSmall{
	float:left;
	height:120px;
	width:16%;
	margin-left:3%;
	background-color:#FFF;
	border:1px solid #000;	
}