@charset "utf-8";
/* CSS Document */

#featured-products_block_center{
	height:auto;	
	background-color:#e3e2e2;
}
#featured-products_block_center li {
	float:left;
	display:block;
	list-style:none;
	width:17%;
	margin-top:10px;
	margin-left: 15px;
	height:auto;
	min-height:350px;
}
#featured-products_block_center .block_content{
	border:1px solid #999;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

p.s_title_block{
	font-weight:bold;	
	font-size:12px;
}
.product_desc{
	font-size:10px;
}
.product_desc a{
	color:#6d6e71;	
}
.clearBoth{
	clear:both;
}

@media only screen and (max-width: 768px) {
	#featured-products_block_center li {
		clear:left;
		text-align:center;	
		margin-left:10%;
		margin-right:10%;
		width:80%;
		height:auto;
		min-height:0px;
		border-bottom:1px solid #999;
	}
	#featured-products_block_center li:last-of-type{
		border-bottom:none;	
	}
	.product_desc{
		width:100%;	
	}
	.product_desc a{
		color:#000;	
	}
}