.myaccount ul {margin-bottom:10px;}
.myaccount li {border-bottom: none;}
.myaccount li a {
   display: block;
   text-align:center;
   color: #069;
   background: none;
}
.myaccount li a:hover{
	color:#09C;
}