@charset "utf-8";
/* CSS Document */
.titleBar a{
	color:#FFF;
}

#new-products_block_right{
	margin-top:0px;
	height:auto;
	background-color:#e3e2e2;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#new-products_block_right .block_content{
	border:1px solid #999;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#newProductsLoop{
	float:left;
	display:block;
	list-style:none;
	width:17%;
	margin-top:10px;
	margin-left: 15px;
	height:auto;
	min-height:370px;	
}
#newProductsLoop img{
	border:1px solid #666;	
}
#newProductsLoop dt{
	font-size:12px;
	font-weight:bold;	
}
#newProductsLoop dd{
	font-size:10px;
}
#newProductsLoop dd a.newProductDesc{
	color:#6d6e71;
}
a.lnk_more{
	font-size:16px;
	color:#069;	
}
a.lnk_more:hover{
	color:#09C;
}
#allNewProducts{
	clear:both;
	float:left;	
}
@media only screen and (max-width: 768px) {
	#newProductsLoop {
		clear:left;
		text-align:center;	
		margin-left:10%;
		margin-right:10%;
		width:80%;
		min-height:230px;
		height:auto;
		border-bottom:1px solid #999;
	}
	#newProductsLoop:last-child{
		border-bottom:none;	
	}
	#allNewProducts{
		text-align:center;	
		float:none;
	}
}