body{

}
p.title_block{
	background-image:url(img/titlebar.svg);
	background-size:100% 100%;
	color:#FFF;
	text-align:center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:17px;
	word-wrap:break-word;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tree.dynamized li a{
	color:#6d6e71;
	display:table-cell;
    vertical-align: middle;
}
a.categoryFontSize{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:16px;
	padding:none;	
}

.panelSideMenu ul li{
	/*padding-top:10px;*/
	color:#333;
	width:100%;
	font-weight:bold;
	height:50px;
	line-height:13px;
	display:table;
	/*padding-bottom:10px;*/
	border-bottom:1px solid #666;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background: rgb(196,196,196); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 50%, rgba(196,196,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,196,196,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(255,255,255,1) 50%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(255,255,255,1) 50%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(255,255,255,1) 50%,rgba(196,196,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(196,196,196,1) 0%,rgba(255,255,255,1) 50%,rgba(196,196,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}
.panelSideMenu ul li:last-of-type{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.panelSideMenu ul li:hover{
	background:#FFF;	
}

@media only screen and (max-width: 1600px) {
	a.categoryFontSize{
		font-size:13px;
	}
}
@media only screen and (max-width: 1400px) {
	a.categoryFontSize{
		font-size:12px;
	}
	p.title_block{
		font-size:14px;
	}
}
@media only screen and (max-width: 1200px) {
	a.categoryFontSize{
		font-size:12px;
	}
	p.title_block{
		font-size:12px;
	}
}
@media only screen and (max-width: 930px) {
	a.categoryFontSize{
		font-size:11px;
	}
}
@media only screen and (max-width: 860px) {
	a.categoryFontSize{
		font-size:10px;
	}
}